<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note list</title>
    <style>
        body {
            text-align: center;
            align-items: center;
            background-color: rgb(151, 201, 241);
        } 

        h1 {
            color: rgb(0, 3, 2);
        }
        div  {
          width: 40%;
          margin: auto;
          border: 2px solid rgb(241, 151, 196);
          background-color: rgb(241, 151, 196);
          border-radius: 20px;
          margin-top: 15px;
        }
    </style>

  </head>
  <body>
    <a href="/lab-4"> Home</a>
    <a href="/lab-4/add-note"> TambahNote</a>
    <a href="/lab-4/note-list"> DaftarNote</a>
    <h1>Notes List</h1>
      {% if notes %} 
        {% for var in notes %}
            <div>
            <h3>{{var.title}}</h3>
            <h4>To: {{var.to}}</h4>
            <h4>From: {{var.from_who}}</h4>
            <h4>Message:</h4>
            <p>{{var.message}} </p>
            </div>
        {% endfor %}
      {% endif %}
  </body>
</html>