<!DOCTYPE html>
<style> 
input[type=submit] {
  width: 15%;
  background-color: #d46681;
  color: rgba(253, 253, 253, 0.995);
  padding: 10px 5px;
  margin: 2px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
h1{
  text-align: center;
}
div{
  text-align: center;
}
</style>
<head> <h1> Form </h1> </head>
<body> 
  <div>
  <a href="/lab-4"> Home</a>
  <a href="/lab-4/add-note"> TambahNote</a>
  <a href="/lab-4/note-list"> DaftarNote</a>
<form action="" method="POST">
    {% csrf_token %}
    {{noteForm.as_p}}
    <input type="submit" value="submit"> 
</form>
</div>
</body>