<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note list</title>
    <style>
        body{
            text-align: center;
            align-items: center;
            background-color: rgb(151, 201, 241);
        } 

        h1 {
            color: rgb(0, 3, 2);
        }

        table {
        border-collapse: collapse;
        width: 1000px;
        margin: auto;
        table-layout: fixed;
        overflow-wrap: break-word;
        text-align: justify;
        }

        td {
          text-align: center;
          border: 2px solid;
        }

        th {
          text-align: center;
          border: 2px solid;
          background-color: rgb(192, 119, 226);
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <a href="/lab-4"> Home</a>
    <a href="add-note"> TambahNote</a>
    <a href="note-list"> DaftarNote</a>
    <h1>Notes List</h1>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if notes %} 
        {% for var in notes %}
        <tr>
          <td>{{var.to}}</td>
          <td>{{var.from_who}}</td>
          <td>{{var.title}}</td>
          <td>{{var.message}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>