<!DOCTYPE html>
<style> 
input[type=submit] {
  width: 15%;
  background-color: #d46681;
  color: rgba(253, 253, 253, 0.995);
  padding: 10px 5px;
  margin: 2px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
</style>
<form action="" method="POST">
    {% csrf_token %}
    {{friendForm.as_p}}
    <input type="submit" value="submit"> 
</form>